.pagination {
  display: none;

  button {
    outline: none;
  }
}

.pagination__item {
  margin-right: 10px;
  color: $grey;

  &--active {
    color: $dark-grey;
  }
}

@media (max-width: $tablet-width) {
  .pagination {
    display: block;
    margin-top: 34px;
    text-align: center;
    margin-right: 0;

    span {
      font-weight: 500;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
