$desktop-width: 1023px;
$tablet-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$time: 0.3s;
$timing: ease-in-out;

$brown: #a87b62;
$beige: #f0eae4;
$dark-grey: #1d1613;
$grey: #9b9997;
$white: #ffffff;
$black: #000000;
